* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

nav div img {
    height: 50px;
}
nav {
    display: grid;
    grid-template-columns: 9fr 1fr 1fr 1fr 1fr 1fr;
    font-weight: bold;
}
nav div {
    padding: 0.5em;
    align-self:center;
}
a {
    text-decoration: none;
    color: black;
}
#login {
    font-weight: bold;
    background-color: #E60023;
    border-color: #E60023;
    color: white;
    border-radius: 25px;
    line-height: 2.5em;
}
#reg {
    background-color: whitesmoke;
    border-color: whitesmoke;
    border-radius: 25px;
    line-height: 2.5em;
}
#login:hover {
    background-color: #bf001d;
    cursor: pointer;
}
#reg:hover {
    background-color: rgb(213, 213, 213);
    cursor: pointer;
}
#firstDiv {
    font-size: 2em;
    color: #E60023;
}

/*-------MAIN--------*/

main {
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}
main div {
    border: 1px solid;
    border-radius: 25px;
    padding: 0.3em;
    align-self: center;
}
main img {
    border-radius: 10px;
}
@media (max-width: 768px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 425px){
    main {
        grid-template-columns: repeat(2, 1fr)
    }
}
